<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    {% if message %}
        <p style="color: red">{{ message }}</p>
    {% endif %}
    <form action="/login" method="post">
        <legend>请登陆:</legend>
        <p>
            <input name="username" placeholder="用户名" value="{{ username }}">
        </p>
        <p>
            <input name="password" placeholder="密码" value="{{ password }}">
        </p>
        <p>
            <button type="submit">登陆</button>
        </p>
    </form>
</body>
</html>